[alias]
	co = checkout
	up = push -u origin HEAD
	graph = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
	rmb = removed-branches --prune
[status]
	submoduleSummary = true
[diff]
	submodule = log
[core]
	editor = nvim
	excludesFile = /Users/jacoswarts/.gitignore_global
[pull]
	rebase = false
[safe]
	directory = /Users/jacoswarts/notes
[user]
	name = Jaco Swarts
	email = jaco@productive.me
